body {
    background-image: url(arkaplan.jpg);
}
.menu {
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.menu span a{
    color: red;
    text-decoration: none;
}
.menu span {
    padding: 5px;
    margin: 10px;
    border: black 2px solid;
    border-radius: 10px;
}
.menu span a:hover {
    background-color: gray;
}
#sayfa {
    background-color: teal;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;  
}
.hakkimda_yazi {
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;  
}
.sehrim_yazi {
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;  
}
.takimimiz_yazi {
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.iletisim_yazi {
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.tabla {
    text-align: center;
    margin: 20px;
    background-color: blanchedalmond;
}
.tabla td {
    padding: 12px;
}
.takimimiz_table {
    margin: 10px;
    padding: 10px;
}
.turist {
    background-color: lightblue;
    border: solid lightblue 2px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.turistyaz {
    
    background-color: lightcoral;
    border: solid lightcoral 2px;
    border-radius: 10px;
    padding: 5px;
}
#slider {
    position: relative;
    margin: 0px auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.img {
    width: 500px;
    height: 500px;
}
#kontrol {
    position: absolute;
    right: 0px;
    bottom: 10px;
}
#kontrol a{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
p {
    margin: 5px;
    padding: 5px;
}

